### Contents
    01. Importing libraries and data
    02. Combining data
    03. Exporting data

# Importing Libraries

In [12]:
import os
import numpy as np
import pandas as pd

# Importing Data

In [19]:
# Set path
path=r'/Users/aylaarreguin/07-15-2020 Instacart Basket Analysis/'

In [20]:
#import orders_products_combined df
df_combined = pd.read_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [21]:
# check data
df_combined.head()

,order_id,customer_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [22]:
df_combined.shape

(32434489, 10)

In [24]:
#Import products_checked.cvs as new df 
df_products = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [25]:
#Check data 2
df_products.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [26]:
df_products.shape

(49672, 6)

# Merge Data

In [27]:
#Drop _merge
df_combined = df_combined.drop(columns = ['_merge'])

In [28]:
#Merging
df_orders_products_merged = df_combined.merge(df_products, on = 'product_id', indicator = True)

In [29]:
#Check merge
df_orders_products_merged.head()

,order_id,customer_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both

In [30]:
df_orders_products_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [31]:
df_orders_products_merged.shape

(32404859, 15)

# Export Data to PKL

In [32]:
# Export data to pkl
df_orders_products_merged.to_pickle(os.path.join(path, 'Data','Prepared Data', 'orders_products_merged.pkl'))